@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Dosis:wght@200..800&family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Pacifico&family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,YOPQ,YTDE,YTUC@8..144,-10..0,75,100..1000,-40,79,-203,712&family=Signika:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-google-chewy: "Chewy", sans-serif;
  --font-google-dosis: "Dosis", sans-serif;
  --font-google-dynapuff: "DynaPuff", serif;
  --font-google-inter: "Inter", sans-serif;
  --font-google-kaushanscript: "Kaushan Script", serif;
  --font-google-pacifico: "Pacifico", serif;
  --font-google-roboto: "Roboto", sans-serif;
  --font-google-signika: "Signika", sans-serif;
}